:root {
  --font-family-primary: helvetica;
  --font-family-secondary: verdana;
}

#consulta {
  text-align: center;
}

.boton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
  align-items: center;
}

.boton:hover {
  color: #000000;
}

.boton:after {
  height: 100%;
}

.boton:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #4433ff;
}

/* Reset de estilos por defecto del navegador */
body,
form,
input,
label,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

/* Estilo del contenedor principal */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(187, 255, 215),
    rgb(82, 200, 255)
  );
}

h1,
h2 {
  color: #f8f8f8;
  -webkit-text-stroke: 0.5px #00aaff;
  text-shadow: 2px 2px 4px rgba(0, 170, 255, 0.6);
  font-family: var(--font-family-primary);
}

/* Estilo del formulario de registro de datos */
#registration-form,
#query-form {
  background-color: rgba(7, 246, 166, 0.621);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Estilo de los campos de entrada de texto y etiquetas */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 0.1px solid #696767;
  background-color: #f8f8f8c3;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

::placeholder {
  opacity: 0.3;
  font-family: var(--font-family-secondary);
  animation: placeholderAnim 2s infinite;
  text-align: center;
}

@keyframes placeholderAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* seleccionar archivo */
/* Estilos para el input de tipo "file" */
input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* Estilos para el contenedor del input de tipo "file" */
.file-input-label {
  color: #fff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.file-input-label:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
/* Estilos para el botón del input de tipo "file" */
.file-input-button {
  color: #007bff;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Cambiar el estilo del botón cuando se pasa el mouse encima */
.file-input-label:hover .file-input-button {
  background-color: #29c6ff;
}
/* acaba aqui */

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover {
  background-color: #f7f7f7;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Estilos CSS actualizados para los botones de submit y reset*/
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button[type="submit"],
button[type="reset"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease-in-out;
  margin: 0 5px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #002d5d;
}

button[type="submit"]:active,
button[type="reset"]:active {
  transform: scale(0.95);
  background-color: #00417a;
}

/* Estilo del resultado de la consulta */
#result-container {
  margin: 5px;
  color: #333;
  background-color: #f8f8f883;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  font-family: var(--font-family-primary);
  border: 1px solid #cccccc2f;
  display: flex;
  flex-direction: column;
}

#result-container h3 {
  margin-bottom: 5px;
}

#result-container p {
  margin: 0;
}

/* Reducción del tamaño de la imagen */
/* Estilo de la imagen */
img {
  margin-top: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #008cff23;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

/* Efecto de hover en la imagen */
img:hover {
  transform: scale(1.1);
}

/* Efecto de hover en el formulario */
/*#registration-form:hover, #query-form:hover {
  transform: scale(1.05);
}*/

#form-group:hover {
  transform: scale(1.01);
}

/* Nueva regla para el estilo de las etiquetas */
label {
  font-size: 15px;
  font-weight: bold;
}

input {
  outline: 2px ridge rgba(0, 166, 255, 0.366);
  border-radius: 4.5px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Estilo para el enlace de ancla */
.form-ancle {
  position: relative;
  top: 40%;
  right: 30%;
  transform: translateY(10%);
  margin-top: 20px;
  color: rgba(19, 200, 255, 0.633);
  text-decoration: none;
  border-radius: 5px;
  padding: 5px; 
  background-color: #ffffff55;
  font-size: 15px;
}

.form-ancle:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-out;
}

.anchor-under {
  transform: rotate(180deg);
}

